/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 5px;
  margin: 0;
}

/* ヘッダー */
header {
  height: 50px;
  background-color: #f0f0f0;
  padding: 10px 0 solid ;
  display: flex;
  width: 100vw;
}
.logo{
  width :20%;
  height :80%;
  margin:3px;
 }


.heading {
  width: 50%;
  margin-left: 30px;
}

.navbar {
  width: 50vw;
  padding: 20px;
}

.nav-lists {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  
}

li {
  list-style: none;
}

.login{
  background-color: #ED951A;
  padding: 5px;
}

.contents {
  background-color: white;
}



.first-view{
  width: 100vw;
  background-color:white;
  
}

.main-content{
  background-color:#d3d0d0;
  height: 100%;
  width: 100vw;
}

.top_image {
width: 640px;
height:360px;
display: block;
margin-right: auto;
margin-left: auto;
}

.tab{
background-color: coral;
height: 30px;
width: 100vw;
}

.content{
  width: 800px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* 新着情報 */
.upper-content{
  
  height: 300px;
  width :800px;
  background-color:white;
  margin: 30px 0;
}

.heading-name {
  text-align: center;
  border-bottom: 1px solid red;
  width: 200px;
  margin:  0 auto 30px auto;
}
.rank{
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.messages {
 
  margin: 0 auto;
}

.message {
  display: flex;
  font-size: 18px;
  margin: 0 0 16px 70px;
}

.message-date {
  padding-right: 40px;
}


.info-content{
  height: auto;
  width: 800px;
  background-color: white;
}

.list {
  display: flex;
  justify-content: space-around;
  margin: 30px 0;
}

.view_image {
  height: 200px;
  margin:30px;
}

.stylist-name {
  font-size: 16px;
  text-align: center;
  margin:0;
}



.bottom-content {
  height: 100px ;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ED951A;
}
.bottom-content {
  height: 200px ;
  width: 800px;
  margin: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ユーザー登録フォーム */
.small-field, .large-field {
  width: 400px;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #b5aaaa;
  display: block;
}

.small-field {
  margin: 0 auto 15px;
}

.large-field {
  height: 200px;
  margin: 0 auto 30px;
}

.s-field{
  margin: 0 auto 15px ;
  display: block;
  
}

.send {
  width: 200px;
  margin: 5px auto;
  padding: 15px;
  border: 1px solid white;
  background-color: rgb(222, 116, 23);
  color:white;
  display: block;
}
.b-send {
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid rgb(222, 116, 23);
  background-color: white;
  color:rgb(222, 116, 23);
  display: block;
}

.rea{
  text-align: center;
 
  width: 300px;
  margin:30px auto;
}

.input-default{
  width: 400px;
  font-size: 16px;
  padding: 15px;
  border: 1px solid #b5aaaa;
  display: flex;
  margin:10px auto;
}

.login-org-btn {
  width: 200px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid white;
  background-color: rgb(222, 116, 23);
  color:white;
  display: block;
}

.log-content{
  width: 400px;
  display: flex;
  margin: 0 auto;
}

.form-text{
  font-size: 14px;
  font-weight: bold;
}

/* フッター */
footer {
  height: 50px;
  background-color: #f0f0f0;
  text-align: center;
  color: gray;
  width:100vw;
}

/* 投稿ボタン */
.purchase-btn {
  width: 120px;
  background: #de1447;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 60%;
}

/* 投稿ページ */
.infos-new{
width:300px;
}

.infos-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 350px;
  padding: 10vh 15vw;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.indispensable2 {
  background: #010101;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  min-width: 170px;
  margin-bottom: 10px;
}

.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 100%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  resize: none;
}

.select-box{
  padding:5px 10px;
  margin-bottom: 20px;
}

/* 下部ボタン */
.sell-btn-contents {
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.sell-btn {
  background: rgb(222, 116, 23);
  border: 1px solid rgb(222, 116, 23);
  color: #fff;
  width: 100%;
  height: 50px;
  font-size: 14px;
  margin-bottom: 4vh;
  padding-top: 3px;
}

.back-btn {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}

/* 詳細画面 */

.info-box-img{
  margin: 0 auto;
  display: flex;
  max-width: 400px;
}

.show{
  margin-top: 5px;
}