<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>tokugai</title>
  </head>
  <body>
    <header>
      <div class="heading">
        <img src="images/rogo.png" alt="ロゴ" class="logo">
        
      </div>
      <div class="navbar">
        <ul class="nav-lists">
          <li>カテゴリからさがす</li>
          <li>キーワードからさがす</li>

          <li class="login">ログイン・新規登録</li>
        </ul>
      </div>
    </header>

    <div class="contents">
      <div class="first-view">
        <img src="images/top.jpg" alt="トップ画面" class="top-image">
      </div>
      <div class="tab">
        
      </div>
    <div class="main-content">
    <div class="content">
      

      <h2 class="heading-name">注目記事</h2>
      <div class="middle-content"> 
        <ul class="list">
          <li>
            <img src="images/book.jpg" alt="staff1" class="view-image">
            <h4 class="stylist-name">本の買い方</h4>
          </li>
          <li>
            <img src="images/2.jpg" alt="staff2" class="view-image">
            <h4 class="stylist-name">ポイント還元</h4>
          </li>
          
        </ul>
      </div>
      <h2 class="heading-name">新着情報</h2>
      <div class="upper-content">
        
        <ul class="messages">
          <li class="message">
            <div class="message-date">2021/1/12</div>
            <div>【新規のお客さま限定】<b>100P</b>キャンペーン</div>
          </li>
          <li class="message">
            <div class="message-date">2020/1/1</div>
            <div>うれしい<b>ポイントアップキャンペーン</b></div>
          </li>
            <div></div>
          </li>
        </ul>
      </div>
      <h2 class="heading-name">総合ランキング</h2>
      <div class="bottom-content">

  
  


        
        <div class="rank-form">
          
        </div>
      </div>
      </div>
    </div>
    </div>
    <footer>
      <p>Copyright(C) tokugai ALL RIGHTS </p>
    </footer>
  </body>
</html>